{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h3 class="mb-4 text-center">🔑 Set New Password</h3>
    <form method="POST">
        <input type="password" name="password" placeholder="New password" required class="form-control mb-3">
        <button type="submit" class="btn btn-success w-100">Reset Password</button>
    </form>
    <div class="d-flex justify-content-center mt-3">
    <a href="{{ url_for('index') }}" class="btn btn-secondary">⬅ Back to Home Page</a>
</div>
</div>
{% endblock %}